body {
  font-family: "Open Sans", sans-serif; }

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
  font-weight: bolder; }

h2 {
  color: #3046c5; }

header h2 {
  color: #Cec8ff; }

.main-footer {
  background-image: linear-gradient(#Cec8ff, white);
  padding: 20px; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #60106b);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.row-last {
  border: none; }

.navbar {
  background-color: #60106b; }

.tab-content {
  border: solid 1px #DDD;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px; }

.carousel {
  border: solid #5637dd; }

.carouselBtnDiv {
  position: absolute;
  right: 0;
  bottom: 0; }

#loginModal .modal-header {
  background-color: #901CAD;
  color: white; }

#reserveModal .modal-header {
  background-color: #17a2b8;
  color: white; }
