body {
  width: 100%;
  height: 100%;
  background: url(img/sitebg2.jpg) no-repeat center fixed;
  background-size: cover;
  font-family: 'inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'inter', sans-serif;
}

.section-heading {
  position: relative;
  text-transform: uppercase;
  margin: 5rem auto 6rem;

}

.section-heading h1 {
  font-family: "montserrat"sans-serif;
  line-height: .8;
  color: #F06449;
  font-size: 3.5rem;
  opacity: .8;
  letter-spacing: 10px;

}

.section-heading h6 {
  color: #F7F9F9;
  font-size: 2rem;
  line-height: 0;
  position: relative;
  bottom: 8px;
  letter-spacing: 3px;

}

.section-icon {
  position: relative;
  left: .5%;
  font-size: 3rem;
  margin-bottom: .5rem;
}


.section-title {
  color: #F7F9F9;
  font-family: "montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: .8rem;
}

.section-description {
  font-family: 'montserrat', sans-serif;
  color: #F7F9F9;
  font-size: 1rem;
  text-align: left;
  padding: 2% 4%;
  border-left: solid 2px #F5D49F;
  border-right: solid 2px #f5d49f;
  background-color: rgba(71, 80, 94, .4);
  border-radius: 10px;
  max-width: 500px;
}


a {
  font-family: 'montserrat', sans-serif;
}

.nav-topbar {
  z-index: 50;
}

.navbar.colored {
  background-color: #21435C;
}

.nav-link {
  margin: 0 1.5rem;
}

.nav-padding {
  padding: 0 3rem 0 1rem;
}

.navbar-brand {
  margin: 0 1.5rem;
  padding: .5rem 0;
  font-size: 1.5rem;
}

.jumbotron {
  background-color: transparent;
  padding: 0;
  height: 70vh
}

.jumbotron h1,
.jumbotron h3 {
  text-align: center;
}

.jumbotron h1 {
  color: #F7F9F9;
  font-size: 3rem;
  margin-top: 20vh;}

.jumbotron h3 {
  color: #F7F9F9;
  margin-bottom: 5vh;
}

.btn-default {
  margin: 4rem auto;
  box-sizing: border-box;
  font-weight: 400;
  background-color: rgba(56, 67, 84, .7);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  background-color: #F7F9F9;
  opacity: .9;
  color: #121420;
  font-weight: 500;
}

.campgrounds-display {
  position: relative;
  padding: 2% 2%;
  background-color: rgba(71, 80, 94, .4);
  height: 100%;
}

.carousel-inner {
  border: solid #121420 3px;
}

.img-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 350px;
}

.img-wrap img {
  object-fit: cover;
  overflow: hidden;
}

.img-fit-1 {
  object-position: 50% 100%;
  max-height: 350px;
}

.img-fit-2 {
  object-position: 50% 20%;
  max-height: 350px;
}

.img-fit-3 {
  object-position: 50% 50%;
  max-height: 350px;
}


.crown-icon {
  color: #F4A82E;
}


.decorative-line-tiny {
  margin: .5rem;
  position: relative;
  width: 25%;
  height: 2px;
  background-color: #F5D49F;
  border-radius: 4px;

}

.decorative-line-tiny-slash-1 {
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: #F2C57C;
  transform: rotate(45deg);
  left: 48%;

}

.decorative-line-tiny-slash-2 {
  position: absolute;
  width: 10px;
  height: 3px;
  background-color: #F2C57C;
  transform: rotate(-45deg);
  left: 48%;
}


.form-display {
  position: relative;
  padding: 1% 8% 6rem;
  background-color: rgba(127, 83, 80, .3);
  height: 100%;

}

.section-heading-2 h1 {
  color: #F06449;
}

.section-margin-bottom {
  margin-bottom: 15%;
}

.form-header-bg {
  margin: 0 auto;
  position: relative;
  background-color: rgba(201, 83, 60, .8);
  bottom: 22px;
  width: 190px;
  height: 25px;
  border-radius: 6px;
}

.form-header-text {
  position: relative;
  text-transform: uppercase;
}

.card-body input {
  margin-bottom: 10px;
}

.card {
  letter-spacing: 1px;
  padding: 10px 10px 2px;
  color: #F7F9F9;
  background-color: rgba(18, 20, 32, .7);
  border-right: solid 2px #F5D49F;
  border-left: solid 2px #F5D49F;
  border-radius: 15px;
}

.submit-button {
  background-color: #C9533C;

}

.submit-button:hover,
.submit-button:focus,
.submit-button:active {
  border-color: #F06449;

}

.footer-display {
  height: 25vh;
  width: 100vw;
  padding: 3.5rem 0;

}

.social-icon {
  font-size: 2rem;
  border-radius: 10px;
  margin: .8rem 20px;
}

.copyright-roman {
  text-align: center;
  color: #fff;
  font-size: .8rem;
  margin: 2rem auto 50px;

.carouselBtnDiv {
  position: absolute;
  right: 0;
  bottom: 0;
  }